@charset "UTF-8";

body {
    background-color: #999;
    color: #eee;
    height: 100%;
}

a {
    color: #eee;
}

.main {
    position: relative;
    min-height: 100%;
}

.main-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}



.map-container {
    /*width: 80%;*/
    /*min-width: 500px;*/
    /*height: 80%;*/
    width: 175vw;
    height: 100vh;
    /*min-height: 400px;*/
    position: fixed;
    top: 0;
    right: -60%;
    bottom: -30%;
    left: 0;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.photos {
    position: absolute;
    top: 0;
    left: 5%;
    /*right: 25%;*/
    margin: 0 25% 0 5%;
    /*bottom: 0;*/
    /*height: 100%;*/
    padding: 10px;
    background-color: rgba(0,0,0,.3);
}

.photos-list .item {
    margin-bottom: 30px;
}

.photo {
    text-align: center;
    max-width: 100%;
}

.photos-list .caption {
    float: right;
    max-width: 60%;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 1.2;
    color: #ddd;
    padding: 5px 0;
    text-align: right;
    font-style: italic;
}
