@charset "UTF-8";

body {
    background-color: #999;
    background-color: rgb(50,50,50);
    color: #eee;
    height: 100%;
}

a {
    color: #eee;
}

.main {
    position: relative;
    min-height: 100%;
}

.main-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}



.map-container {
    /*width: 80%;*/
    /*min-width: 500px;*/
    /*height: 80%;*/
    width: 175vw;
    height: 100vh;
    /*min-height: 400px;*/
    position: fixed;
    top: 0;
    right: -60%;
    bottom: -30%;
    left: 0;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.page-title {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
    line-height: 1.1;
    /*color: #ddd;*/
    padding: 22px 0 5px 40px;

    color: #333;
   /*-webkit-text-stroke: .8px rgba(200,200,200,.5);*/
   text-shadow: 0 0 1px rgba(200,200,200,.9), 0 0 2px rgba(200,200,200,.4);
   /*text-shadow:
       3px 3px 0 rgba(200,200,200,.5),
     -1px -1px 0 rgba(200,200,200,.5),
      1px -1px 0 rgba(200,200,200,.5),
      -1px 1px 0 rgba(200,200,200,.5),
       1px 1px 0 rgba(200,200,200,.5);*/
}

.page-description {
    padding: 0 0 32px 40px;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 1.1;
    font-style: italic;
    color: #ddd;
    letter-spacing: 1px;
}

.photos-list .item {
    text-align: center;
}

.photos-list .item .photo {
    display: inline-block;
    background-color: #333;
}

.photos-list .item .photo img {
    max-height: 800px;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.photos-list .item.active .photo img {
    opacity: 1;
}

.photos {
    position: absolute;
    top: 0;
    left: 0;
    /*right: 25%;*/
    padding: 0 360px 0 0;
    /*bottom: 0;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,.3);*/
    /*background-color: rgba(0,0,0,.1);*/
    background-repeat: repeat-y;
    background-image: -webkit-linear-gradient(left, rgba(50,50,50,.95) 40%,rgba(50,50,50,0) 98%);
    background-image:    -moz-linear-gradient(left, rgba(50,50,50,.95) 40%,rgba(50,50,50,0) 98%);
    background-image:      -o-linear-gradient(left, rgba(50,50,50,.95) 40%,rgba(50,50,50,0) 98%);
    background-image:         linear-gradient(left, rgba(50,50,50,.95) 40%,rgba(50,50,50,0) 98%);
}

/*Mediaqueries*/

/*@media screen and (min-width: 800px) {
    .photos {
        padding-right: 100px;
    }
}*/

@media screen and (max-width: 1100px) {
    .photos {
        padding-right: 240px;
    }
}

@media screen and (max-width: 800px) {
    .photos {
        padding-right: 100px;
    }
}

@media screen and (max-width: 600px) {
    .photos {
        padding-right: 20px;
    }
}

.photos-list {
    padding: 20px 20px 20px 40px;
}

.photos-list .item {
    margin-bottom: 50px;
}

.photo {
    text-align: center;
    max-width: 100%;
}

.squared-item .photo,
.squared-item .caption {
    margin: 0 100px;
}

.photo img {
    box-shadow: 0 0 10px rgba(50,50,50,.6);
}

.photos-list .caption {
    float: left;
    max-width: 60%;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 1.2;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: left;
    font-style: italic;
}
