@charset "UTF-8";

body {
    height: 100%;
    color: #eee;
    background-color: #999;
    background-color: rgb(50,50,50);
}

a {
    color: #eee;
}

.main {
    position: relative;
    min-height: 100%;
}

.main-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.map-container {
    position: fixed;
    top: 0;
    right: -60%;
    bottom: -30%;
    left: 0;
    width: 175vw;
    height: 100vh;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-title {
    padding: 22px 0 5px 40px;
    text-shadow: 0 0 1px rgba(240,240,240,.99) ,0 0 2px rgba(240,240,240,.4);
    font-family: 'Georgia',serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.1;
    color: #111;
}

.page-description {
    padding: 0 0 32px 40px;
    font-family: 'Georgia',serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.1;
    letter-spacing: 1px;
    color: #ddd;
}

.photos-list .item {
    text-align: center;
}

.photos-list .item .photo {
    display: inline-block;
    background-color: #333;
}

.photos-list .item .photo img {
    max-height: 800px;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.photos-list .item.active .photo img {
    opacity: 1;
}

.photos-list .item.panorama {
    height: 500px;
}

.photos {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 400px 0 0;
}

.photos-bg {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(120deg,rgba(10,10,10,.95) 0,rgba(10,10,10,.8) 50%,rgba(10,10,10,0) 80%);
}

/*Mediaqueries*/

/*@media screen and (min-width: 800px) {
    .photos {
        padding-right: 100px;
    }
}*/

@media screen and (max-width: 1100px) {
    .photos {
        padding-right: 240px;
    }
}

@media screen and (max-width: 800px) {
    .photos {
        padding-right: 100px;
    }
}

@media screen and (max-width: 600px) {
    .photos {
        padding-right: 20px;
    }
}

.photos-list {
    padding: 20px 20px 20px 40px;
}

.photos-list .item {
    margin-bottom: 50px;
}

.photo {
    max-width: 100%;
    text-align: center;
}

.squared-item .photo,
.squared-item .caption {
    margin: 0 100px;
}

.photo img {
    box-shadow: 0 0 10px rgba(50,50,50,.6);
}

.photos-list .caption {
    float: left;
    margin-top: 15px;
    max-width: 60%;
    text-align: left;
    font-family: 'Georgia',serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ddd;
}

footer {
    margin-bottom: 20px;
    font-family: 'Verdana',sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

footer a {
    letter-spacing: 1px;
    color: #ffe330;
    border-top: 0px solid #111;
    border-bottom: 0px solid #111;
    -webkit-transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

footer a:hover {
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    color: #ffe330;
}
